@font-face {
    font-family: "main-font";
    src: url("/src/fonts/Montserrat-Regular.woff") format("woff"),
    url("/src/fonts/Montserrat-Regular.woff2") format("woff2");;
}
* {
    margin: 0;
    padding: 0;
  }
:root {
    font-family: "main-font";
}
body {
    background-color: #fdfdfd;
}


ul {
    list-style-type: none;
    
}
#content {
    height: 100%;
    display: grid;
    grid-template-columns: 350px 4fr ;
    grid-template-rows: 40px 1fr 1fr  ;
    
}
.add-project{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
   
}
/* .projects > h4{
    display: flex;
    padding: 15px;

} */
.projects > h4:hover , .add-project:hover {
    background-color: #0e5d88;
}

.side-bar {
    position: sticky;
    top: 0;
    height: 100vh;
    text-align: start;
    grid-column: 1;
    grid-row: 1/last-row;
    color: white;
    background-color: #043853;
    font-size: 1.3rem;
    display: grid;
    grid-template-rows: 100px 25%;
    box-shadow: #095985 1px 1px 1px 1px;
    row-gap: 10px;
}

.menu li, .user-name {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 15px;
}

.projects {
    display: grid;
    grid-template-rows: 50px 10%;
}
.user-name {
    grid-row: 1;

}
.default-choices {
    grid-row: 2;

}

#btn-img{
    width: 40px;
    height: 40px;
}
#pop-up {
    position: fixed; 
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
#pop-up-content{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 5px solid rgb(28, 98, 131);
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    font-family: "main-font";
    font-weight: bold;
}
input[type="text"]{
    appearance: none;
    border-radius: 15px;
    background-color: #DFE6EE;
  }
.side-bar  ul > li:hover,#selected {
    background-color: #0e5d88;
}


.card-container {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    gap: 10px;
}
:invalid {
    border: red solid 2px;
}
.card-container div {
    border: solid black 5px;
    height: 250px;
    overflow: hidden;
}

.add-task {
    grid-column: 2;
}