body{
    margin: 0;
    padding: 0;
}

/*  */
* {
    margin: 0;
    padding: 0;
  }
:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #DFE6EE;
}
.side-bar > h3 {
    font-size: 1.7rem;
    grid-column: 2;
    display: flex;
    align-self: center;
}

.dashboard-img{
    display: flex;
    align-self: center;
}
ul {
    list-style-type: none;

}
#content {
    display: grid;
    grid-template-columns: 1fr 3fr ;
    grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
}
.side-bar {
    text-align: start;
    grid-column: 1;
    grid-row: 1/last-row;
    font-weight: bold;
    color: white;
    background-color: #1B8ECC;
    height: 100%;
    font-size: 1.3rem;
    display: grid;
    grid-template-rows: 200px 1fr 1fr;
}

.side-bar > div:hover,.side-bar > ul > li:hover {
    background-color: #0e5d88;
}

.user-name {
    grid-row: 1;
}



.projects {
    grid-row: 6;
    

}
.card-container {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
}
.card {
    border: solid black 5px;

}


